body {
  background-color: rgb(155, 155, 155);
}
.App {
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  background-color: rgb(85, 85, 85);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 40px;
  font-size: 16pt;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

table {
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 16pt;
  text-align: center;
}

#title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 40pt;
}

#add-expense-btn {
  margin-top: 15px;
  font-size: 16pt;
  font-weight: bold;
  color: black;
  background-color: #61dafb;
  border-style: none;
}

#remove-header {
  color: rgb(235, 59, 59);
  text-decoration: underline;
}

#delete-btn {
  border-radius: 5px;
}
